@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1674px;
}

.header {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
  padding-bottom:   5px;
}

.header>.container {
  padding: 0;
  position: relative;
}

.header .top-menu {
  background-color: #000;
  padding: 6px 0 6px 0;
}

.header .top-menu .container {
  /*display: flex;
  justify-content: space-between;*/
}

.header ul {
  display: flex;
  align-items: center;
}

.header .container-fluid.top-menu .row,
.header .container .row {
  margin: 0;
}

.burger-mob-wrap {
  display: none;
  position: relative;
  width: 36px;
  height: 36px;
  border: none;
  background: transparent;
}

.burger-mob-wrap span.burger-mob {
  position: absolute;
  width: 30px;
  height: 3px;
  top: 18px;
  left: 5px;
  background-color: #ffffff;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}

.burger-mob-wrap span.burger-mob:nth-child(1) {
  transform: translateY(-10px);
}

.burger-mob-wrap span.burger-mob:nth-child(3) {
  transform: translateY(10px);
}

.header.open .burger-mob-wrap span.burger-mob {
  background-color: #F84445;
}

.header.open .burger-mob-wrap span.burger-mob:nth-child(1) {
  transform: translateY(0) rotate(-45deg);
}
.header.open .burger-mob-wrap span.burger-mob:nth-child(2) {
  opacity: 0;
}
.header.open .burger-mob-wrap span.burger-mob:nth-child(3) {
  transform: translateY(0) rotate(45deg);
}

.top-contacts-wrap,
.top-menu-list-wrap {
  padding: 0;
}

.top-contacts-wrap {
  display: flex;
}

.top-menu-list-wrap>div {
  justify-content: flex-end;
}

.top-menu-list.top-contacts {
  height: 100%;
}

.top-menu-list {
  align-items: center;
}

.top-menu-list li {
  margin-right: 19px;
}

.top-menu-list.top-contacts li:first-child {
  margin-right: 27px;
}

.navbar {
  display: flex;
  width: 100%;
}

.navbar .logo-with-catalog,
.navbar .logo-with-catalog .d-flex {
  justify-content: space-between;
}

.top-menu {}

.top-menu-list li a,
.top-menu .menu-link,
.personal-area a,
.navbar-btn a {
  font-size: 12px;
  color: #BDBDBD;
}
.navbar-btn-link {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
  gap: 7px;
}

.top-menu .menu-phone,
.catalog-btn  {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  white-space: nowrap;
}

.top-menu-list .top-btns-item a {
  background-color: #333333;
  padding: 5px 20px;
  border-radius: 7px;
  color: #ffffff;
  white-space: nowrap;
}


.top-menu-list .top-btns-item {
  margin-right: 8px;
}

.top-menu-list.top-menu li {
  margin-right: 12px;
  white-space: nowrap;
}

.top-menu-list.top-menu li:last-child {
  margin-right: 0;
}

.navbar {
  padding: 10px 0;
  color: #333333;
}

.nav-logo {
  /* max-width:  100%;
    height: auto; */
}

.catalog-wrap {
  display: none;
  z-index: 99;
  background-color: white;
  width: 100%;
  position: absolute;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
  border: 1px solid #E0E0E0;
  left: 0;
  padding-top: 15px;
}

.catalog-wrap .nav-catalog {
  padding-top:  12px;
  padding-bottom: 12px;
}

.nav-catalog {
  display: flex;
}

.catalog-wrap .catalog-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;
}

.catalog-list .catalog-item {
  width: 100%;
}

.catalog-list .catalog-item:hover {
/*  background-color: #F2F3F5;*/
}

.catalog-link {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  background-image: url('../img/arrow-catalog.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: calc(100% - 5px) center;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #F5F5F5;
  cursor: pointer;
  border-radius: 5px;
  color: #333333;
}

.catalog-link:hover  {
  background-color: #F2F3F5;
  color: #EA5455;
}

.catalog-link .catalog-img-wrap {
  background-color: #F2F3F5;
  width: 40px;
  min-width: 40px;
  height: 40px;
  display: flex;
  padding: 4px;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  margin-right: 20px;
}

.header .products-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
}

.menu-products-wrap {
  flex-grow: 0;
}

.menu-products {
  flex-wrap: wrap;
}

.menu-products-title {
  font-size: 14px;
  font-weight: 700;
  margin: 20px 0 15px 0;
}

.header .products-list a {
  color: #333333;
  font-size: 14px;
}

.header .products-list a:hover {
  color: #EA5455;
}

.menu-products .product-item {
  margin-bottom: 12px;
}


.navbar-btns {
  display: flex;
  justify-content: flex-end;
}

.navbar-btns .navbar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar-btns .navbar-btn-img {
  min-height: 27px;
}

.navbar-btns .navbar-btn:not(:last-child) {
  margin-right: 19px;
}

.personal-area {
  display: flex;
  align-items: center;
  background-color: #F2F3F5;
  border-radius: 20px;
  padding-right: 25px;
  margin-right: 25px;
}

.personal-area img {
  padding: 5px 8px;
}

.personal-area a,
.navbar-btn a {
  display: inline-block;
  color: #333333;
  text-decoration: none;
}

.search-form,
.subscribe-form {
  display: flex;
  align-items: center;
  border-radius: 9px;
}

.search-form {
  background-color: #E0E0E0;
  max-width: 659px;
  width: 100%;
  position: relative;
}

.btn-search {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  padding: 0 38px 0 31px;
}

.subscribe-form {
  background-color: #4F4F4F;
  margin-top: 17px;
  position: relative;
}

.search-form .form-control,
.subscribe-form .form-control {
  z-index: 4;
  border-radius: 9px;
  width: 100%;

}

.search-form .form-control {
  border: 3px solid #E0E0E0;
  padding: 10px 100px 10px 26px;
  width: 85%;
}


.subscribe-form .form-control {
  min-width: auto;
  width: 100%;
  max-width: 672px;
  background-color: #4F4F4F;
  color: #ffffff;
  border-right: 3px solid #4F4F4F;
  border-left: 3px solid #4F4F4F;
  padding: 14px 100px 14px 30px;
}

.form-control::placeholder {
  font-family: 'Open Sans', sans-serif;
  color: #828282;
}

.btn-search {
  background-color: #E0E0E0;
  padding: 13px 42px 13px 34px;
}

.btn-search,
.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}

.subscribe-btn {
  background-color: #333333;
  padding: 14px 30px 14px 34px;
  border-bottom-left-radius: 9px;;
  border-top-left-radius: 9px;
  color: #ffffff;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 99;
  cursor: pointer;
}

.subscribe-btn svg {
  display: none;
}













.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.search-form-wrap {
  display: flex;
  align-items: center;
}

.catalog-btn  {
  background-color: #000000;
  padding: 10px 35px;
  border-radius: 10px;
  margin-right: 14px;
  cursor: pointer;
/*  margin-left: 20px;*/
}

.catalog-btn span {
  padding-left: 5px;
}

.category ul li {
  margin-right: 26px;
}

.category .brands-and-sales li:last-child {
  margin-right: 0;
}

.category ul li a {
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}

.search-form-wrap .search {
  width: 100%;
}

.brands-and-sales {
  justify-content: flex-end;
}

.main p,
.main ul li a {
  color: #333333;
}

.breadcrumb {
  display: flex;  
  flex-wrap: wrap;
  margin-top: 20px;
  list-style: none;
  border-radius: 0.25rem;
  font-size:  14px;
}

.breadcrumb-item a {
  color: #333333;
  text-decoration: none;
}

.breadcrumb-item.active {
  color: #BDBDBD;
}

.breadcrumb-item+.breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #6c757d;
  content: "/";
}

.silver-tickets h1 {
  margin-top: 26px;
  margin-bottom: 45px;
}

.silver-tickets .contacts-mob-txt {
  display: none;
}

.silver-tickets .contacts-mob-txt h2 {
  margin-top: 22px;
  margin-bottom: 38px;
}

.silver-tickets .contacts-mob-txt p {
  margin-top: 5px;
  font-size: 16px;
  line-height: 24px;
}

.silver-tickets .contacts-mob-txt p.h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.24px;
}

.silver-tickets .contacts-mob-txt br {
  display: block;
  margin-top: 14px;
  content: "\0020";
}

.silver-tickets .contacts-mob-txt .silver-block-btn {
  margin-top: 14px;
}

.silver-tickets .container>.row>div {
  margin-bottom: 15px;
}

.silver-bg h2 {
  font-size: 23px;
  margin-bottom: 10px;
}

.silver-bg {
  background: linear-gradient(90deg, #E2E6EB 19.77%, #F3F1F5 62.29%);
  border-radius: 20px;
  padding: 30px 26px 26px 26px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.silver-bg.bonus-wrap {
  background: linear-gradient(90deg, #FF8C00 0%, #FFBD00 77.38%);
  color: #ffffff;
  margin-bottom: 15px;
}


.silver-bg.return-wrap,
.silver-bg.delivery-wrap {
  flex-direction: row;
  justify-content: space-between;
}

.silver-bg.return-wrap .silver-block-img,
.silver-bg.delivery-wrap .silver-block-img {
  position: static;
}

.silver-bg.bonus-wrap ul {
  padding-left: 20px;
}

.silver-bg.bonus-wrap ul li {
  list-style: disc;
  margin-bottom: 3px;
}

.silver-bg.guarantees-wrap a {
  /*    color: #;*/
}

.silver-bg p {
  padding-bottom: 15px;
  line-height: 1.85;
  color: #333333;
  font-size: 14px;
}

.silver-bg.happy-to-help-wrap p,
.silver-bg.delivery-wrap p {
  color: #000000;
}

.happy-to-help-wrap {}

.happy-to-help {
  padding-bottom: 20px;
}

.payment-wrap {}

.payment {}

.payment ul li {
  margin-bottom: 20px;
}

.payment ul li:last-child {
  margin-bottom: 10px;
}

.payment ul li a {
  font-size: 14px;
  color: #333333;
  font-weight: 600;
  text-decoration: underline;
}

.silver-bg .silver-block-img {
  position: absolute;
  top: -30px;
}

.happy-to-help-wrap .silver-block-img img {
  max-width: 215px;
}

.payment-wrap .silver-block-img img {
  max-width: 188px;
}

.payment-wrap .silver-block-img {
  right: 0;
}

.happy-to-help-wrap .silver-block-img {
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 5%);
}

.silver-bg.bonus-wrap .silver-block-img {
  top: -22px;
  right: 30px;
}

.bonus-wrap .silver-block-img {}

.bonus-txt ul li {
  font-size: 14px;
  font-weight: 600;
}

.guarantees-wrap .silver-block-img {}

.guarantees-txt-with-btn p a {
  color: #333333;
  text-decoration: none;
}

.guarantees {}

.guarantees-txt-with-btn {
  display: flex;
  justify-content: space-between;
}

.ticket-btn-wrap {
  padding-top: 20px;
}

.silver-block-btn {
  background-color: #0C1111;
  color: #ffffff;
  border-radius: 10px;
  padding: 15px 35px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.text-help-page h2,
.text-help-page ul {
  margin-top: 20px;
  margin-bottom: 25px;
}

.text-help-page ul {
  padding-left: 30px;
}

.text-help-page ul li {
  list-style: disc;
  margin-bottom: 4px;
}

.text-help-page ul li,
.text-help-page p {
  font-size: 16px;
}

.text-help-page ul li a {
  text-decoration: underline;
  text-decoration-color: #333;
}

.text-help-page h4 {
  margin-top: 25px;
}

.easy-return {
  padding-top: 8px;
}

.guarantee-mob,
.easy-return-img,
.easy-return-txt-mob {
  display: none;
}

.guarantee-mob button {
  margin-top: 25px;
}

.feedback {
  padding-top: 20px;
}
.feedback ul li a,
.feedback p a {
  color: #333;
  text-decoration: underline;
  text-decoration-color: #333;
}

.pre-footer {
  display: none;
  background-color: #333333;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.pre-footer .app-store, 
.pre-footer .google-play {
  background-color: #000000;
}

.pre-footer h4.ftr-subtitle {
  color: #ffffff;
  margin: 15px 0 25px 0;
}

.footer {
  margin-top: 100px;
  background-color: #0C1111;
  padding-top: 74px;
  padding-bottom: 53px;
  color: #F2F2F2;
}

.footer .img-fluid {
  max-width: 100%;
  height: auto;
}

h3.ftr-subtitle {
  font-size: 24px;
}

h4.ftr-subtitle {
  font-size: 18px;
}

.ftr-subtitle {
  margin-bottom: 27px;
}

.ftr-list {
  margin-bottom: 20px;
}
.subscribe-form-mob-txt,
.ftr-list.help-list-mob,
.ftr-list.ftr-list-about-mob ,
.ftr-messengers.ftr-messengers-mob,
.ftr-mob-address,
.ftr-mob-btn {
  display: none;
}

.ftr-list li {
  margin-bottom: 10px;
}

.ftr-list li a {
  color: #ffffff;
  text-decoration: none;
}

.ftr-messenger {
  display: inline-flex;
  align-items: center;
}

.ftr-messenger div {
  margin-right: 12px;
}

.ftr-messengers div img {
  padding-top: 4px;
}

.ftr-messengers.ftr-messengers-mob div img  {
  padding-top: 0;
}

.qr-with-icons .row {
  height: 100%;
}

.gr-code-wrap {
  margin-right: 40px;
}

.stores-wrap {
  display: flex;
  flex-direction: column;
}

.app-store a,
.google-play a {
  width: 100%;
}

.app-store,
.google-play {
  background-color: #333333;
  width: 165px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  margin-bottom: 16px;
}

.app-store img,
.google-play img {
  margin-left: auto;
  margin-right: auto;
}

.ftr-mob-btn {
  background-color: #EB5757;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  border-radius: 7px;
  margin-top: 30px;
  margin-bottom: 24px;
  cursor: pointer;
}

.soc-icons-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  max-width: 349px;
}

.soc-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.soc-icons div {
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.soc-icons div {}

.soc-icons i {
  font-size: 20px;
}

.vk-icon i,
.youtube-icon i {
  color: white;
}

.tik-tok-icon i {
  color: black;
}

.vk-icon,
.youtube-icon,
.tik-tok-icon {
  border-radius: 50%;
}

.vk-icon {
  background-color: #4D76A1;
}

.youtube-icon {
  background-color: #E53935;
}

.tik-tok-icon {
  background-color: #FFFFFF;
}

.help-list-mob-item,
.ftr-list-about-mob-item,
.ftr-messengers-mob-item {
  display: flex;
  align-items: center;
  padding: 3px 5px 3px 0px;
}

.help-list-mob-item a,
.ftr-list-about-mob-item a,
.ftr-messengers-mob-item a {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  background-image: url('../img/arrow-right.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: calc(100% - 5px) center;
  width: 100%;
}

.ftr-messengers-mob-item:first-child {
  border-bottom: 1px solid #333333;
  padding-bottom: 15px;
}

.help-list-mob-item a svg {
  margin-right: 14px;
}



@media only screen and (min-width: 992px) and (max-width: 1199px) {

  .catalog-btn {
    padding: 10px 22px;
  }

  .catalog-btn  {
    font-size: 12px;
  }

  .navbar-btns .navbar-btn:not(:last-child) {
    margin-right: 14px;
  }

  .btn-search {
    padding: 12px 17px 12px 20px;
  }

  .personal-area {
    margin-right: 12px;
    padding-right: 30px;
    font-size: 9px;
  }

  .search-form .form-control,
  .subscribe-form .form-control {
    padding-left: 17px;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1280px) {

  .silver-bg h2 {
    font-size: 20px;
  }

  .silver-bg.return-wrap .silver-block-img,
  .silver-bg.delivery-wrap .silver-block-img {
    max-width: 264px;
  }

  .silver-bg.return-wrap p,
  .silver-bg.delivery-wrap p {
    max-width: 200px;
  }

  .silver-bg.return-wrap .img-fluid,
  .silver-bg.delivery-wrap .img-fluid {
    max-width: 100%;
    height: auto;
  }

  .silver-block-btn {
    font-size: 11px;
    padding: 15px 20px;
  }

}

@media only screen and (max-width: 1280px) {

  .top-menu .menu-phone,
  .catalog-btn {
    font-size: 10px;
  }

  .top-menu-list.top-contacts li:first-child {
    margin-right: 10px;
  }

  .top-menu-list li,
  .top-menu-list.top-menu li {
    margin-right: 6px;
  }

  .top-menu-list .top-btns-item a {
    padding: 5px 8px;
  }

  .top-menu-list li a,
  .top-menu .menu-link,
  .personal-area a,
  .navbar-btn a {
    font-size: 10px;
  }

}

@media only screen and (max-width: 1023px) {

  .menu-products.tabcontent {
    display: none !important;  
  }

  .top-contacts-wrap {
    display: flex;
  }

  .top-menu-list.top-contacts {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 4px;
    margin-right: 15px;
  }

  .top-menu-list.top-contacts li:first-child {
    margin-right: 0px;
  }

  .top-menu-list-wrap>div {
    height: 100%;
  }

  .category ul li a {
    font-size: 12px;
  }

}

@media only screen and (max-width: 992px) {

  .navbar .logo-with-catalog .d-flex {
    flex-direction: row-reverse;
  }

  .catalog-btn span {
    display: none;
  }
  .search-form-wrap {
    margin-left: 10px;
  }

  .search-form .form-control {
    padding: 10px 20px 10px 15px;
    width: 65%;
  }

  .search-form {
    max-width: 144px;
  }

  .btn-search {
    padding: 13px 19px 13px 19px;
  }

  .catalog-btn {
      padding: 8px 18px;
  }

  .personal-area {
    margin-right: 12px;
    padding-right: 32px;
  }

  .personal-area a {
    padding-right: 4px;
  }

  .silver-tickets .container>.row>div,
  .silver-bg.guarantees-wrap {
    margin-top: 30px;
  }

  .happy-to-help-wrap .silver-block-img {
    /*left: inherit;
    transform: none;
    margin-right: 0;
    right: 0px;*/
  }

  .happy-to-help-wrap .silver-block-img img {
    max-width: 250px;
  }

  .payment-wrap .silver-block-img img {
    max-width: 233px;
  }

}


@media only screen and (min-width: 768px) and (max-width: 991px) {

  .silver-bg.happy-to-help-wrap {
    padding: 50px 26px 26px 26px;
  }

  .silver-bg.happy-to-help-wrap .happy-to-help {
    margin-top: 40px;
    padding-bottom: 0;
  }

  .silver-bg.happy-to-help-wrap .ticket-btn-wrap {
    padding-top: 10px;
  }

  .silver-bg h2 {
    font-size: 21px;
  }
  
  .payment-wrap .silver-block-img img {
    max-width: 190px;
  }

  .happy-to-help-wrap .silver-block-img img {
    max-width: 215px;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

  .catalog-wrap .catalog-list {
    flex: 0 0 50%;
    max-width: 50%;
  }

}

@media only screen and (min-width: 1023px) and (max-width: 1366px) {

  .silver-bg.happy-to-help-wrap {
    padding: 50px 26px 26px 26px;
  }

  .happy-to-help-wrap .silver-block-img img {
    max-width: 200px;
  }

}

@media only screen and (min-width: 1023px) and (max-width: 1540px) {

  .payment-wrap .silver-block-img img {
    max-width: 172px;
  }

  .silver-bg.bonus-wrap .silver-block-img img {
    max-width: 300;
  }

  .silver-bg .silver-block-img {
    top: -40px;
  }

}

@media only screen and (max-width: 820px) {

  .top-menu-list.top-contacts {
    margin-right: 6px;
  }

  .top-menu-list.top-contacts {
    padding-top: 8px;
  }

  .top-menu-list-wrap>div {
    justify-content: space-between;
  }

  .top-menu-list li, 
  .top-menu-list.top-menu li {
    margin-right: 14px;
  }

  .top-menu-list.top-btns {
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 8px;
  }

  .top-menu-list .top-btns-item a {
    min-width: 150px;
    display: inline-flex;
    justify-content: center;
  }

  .top-menu-list.top-btns .top-btns-item {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 2px;
  }

}

@media only screen and (max-width: 768px) {

  .header>.container {
    background-color: #0C1111;
  }

  .header>.catalog-wrap.container {
    background-color: #fff;
  }

  .catalog-btn {
    padding: 8px 18px 8px 0;
  }

  .navbar .logo-with-catalog .d-flex {
    justify-content: flex-end;
    height: 100%;
    align-items: center;
  }

  .catalog-btn.burger.btn-reset svg,
  .navbar-btns .navbar-btn {
    display: none;
  }

  .burger-mob-wrap,
  .catalog-btn .burger-mob {
      display: block;
      z-index: 200;
  }

  .navbar-btns .navbar-btn:last-child {
    display: flex;
  }

  .navbar-btns .navbar-btn:last-child .navbar-btn-link {
    display: inline-block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  .navbar-btns .navbar-btn:last-child svg {
    display: block;
    margin-top: 12px;
  }

  .navbar-btns .navbar-btn:last-child svg path {
    stroke: white;
  }

  .catalog-btn {
    background-color: transparent;
    margin-right: 0;
  }

  .search-form {
    background-color: transparent;
    justify-content: flex-end;
  }

  .btn-search {
    position: static;
    background-color: transparent;
  }

  .btn-search svg path {
    stroke: #FFFFFF;
    stroke-width: 1;
  }
  
  .silver-tickets h1 {
    margin: 26px 0 21px 0;
  }

  .silver-tickets .container .row {
    flex-direction: column-reverse;
  }

  .silver-tickets .contacts-mob-txt {
    display: block;
  }

  .silver-tickets .container>.row>div {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .easy-return-col {
    margin-top: 25px;
  }
  .easy-return-col div {
    border-radius: 20px;
    padding: 0 16px 16px 16px;
    background: linear-gradient(178deg, #E2E6EB 0%, #F3F1F5 69.93%);
  }

  .easy-return-col .easy-return-txt-mob {
    font-weight: 600;
  }

  .easy-return-img {
    position: relative;
    top: -30px; 
  }
  .guarantee-mob,
  .easy-return-img,
  .easy-return-txt-mob,
  .ftr-messengers.ftr-messengers-mob,
  .ftr-mob-address,
  .ftr-mob-btn {
    display: block;
  }

  .ftr-mob-btn {
    display: inline-flex;
  }

  .easy-return-img img {
    margin: 0 auto;
  }

  .silver-bg.payment-wrap {
    background: none;
  }

  .payment-col .silver-bg {
    padding: 0;
  }

  .payment ul li {
    width: 100%;
    display: block;
    position: relative; 
  }

  .payment ul li a {
    width: 100%;
    display: inline-flex;
    text-decoration: none;
    color: #333333;
  }

  .payment ul li::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #ECECEC;
  }

  .payment ul li::before {
    content: "";
    position: absolute;
    top: 48%;
    right: 2px;
    width: 10px;
    height: 16px;
    background-image: url('../img/arrow-catalog.svg');
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%); 
  }

  .text-help-page ul {
    list-style: none;
    padding-left: 18px;
  }

  .text-help-page ul li {
    position: relative;
    list-style: none;
    padding-left: 5px; 
    margin-bottom: 10px; 
  }

  .text-help-page ul li::before {
    content: "";
    position: absolute;
    left: -12px;
    top: 11px;
    transform: translateY(-50%);
    width: 4px; 
    height: 4px; 
    border-radius: 50%; 
    background-color: black; 
  }

  .footer {
    padding-top: 18px;
  }

  .header .top-menu,
  .container.breadcrumb-wrap,
  .category-row,
  .personal-area,
  .search-form .form-control,
  .happy-to-help-col,
  .happy-to-help-wrap,
  .return-wrap,
  .delivery-wrap h2,
  .guarantees-wrap,
  .return-col,
  .silver-bg.bonus-wrap .silver-block-img,
  .silver-bg.payment-wrap .silver-block-img,
  .ftr-about-us-title,
  .ftr-list.help-list-desktop,
  .ftr-list-about-desktop,
  .ftr-messengers.ftr-messengers-desktop,
  .subscribe-form-title,
  .soc-icons-wrap,
  .gr-code-wrap,
  .concts-with-qr .ftr-subtitle,
  .ftr-list.ftr-phones,
  .footer .ftr-subtitle.ftr-gr-code-subtitle,
  .ftr-address-subtitle,
  .ftr-address-list,
  .ftr-messengers.ftr-messengers-desktop,
  .easy-return-txt-desktop {
    display: none;
  }

  .ftr-mob-address p {
    text-decoration: underline;
    margin-bottom: 25px;
    line-height: 1.5;
  }

  .payment ul li {
    margin-bottom: 6px;
    padding-bottom: 12px;
  }

  .payment ul li:last-child {
    margin-bottom: 5px;
  }
  .container.feedback .row:last-child {
    display: none;
  }
  .feedback {
    padding-top: 10px;
  }

  .ftr-main-row,
  .concts-with-qr {
    flex-direction: column-reverse;
  }

  .qr-with-stores .d-flex .stores-wrap {
    flex-direction: row;
  }

  .app-store {
    margin-right: 12px;
  }

  .ftr-list.help-list-mob,
  .ftr-list.ftr-list-about-mob {
    display: flex;
    flex-direction: column;
  }

  .ftr-list.help-list-desktop {

  }

}

@media only screen and (max-width: 680px) { 

    .silver-bg.delivery-wrap {
      flex-direction: column-reverse;
    }

    .silver-bg.delivery-wrap .silver-block-img {
      text-align: center;
    }

    .silver-bg.delivery-wrap .silver-block-img img {
      margin: -60px auto auto auto;
    }

    .ftr-list li a {
      font-size: 14px;
    }

    .subscribe-form-mob-txt {
      display: block;
    }

    .subscribe-form .form-control {    
      background-color: #0C1111;
      border-bottom: 2px solid #4f4f4f;
      border-top: 2px solid #4f4f4f;
      padding-top: 11px;
      padding-left: 17px;
    }

    .subscribe-btn {
      background-color: #828282;
      text-indent: -9999px;
      padding: 12px 20px 14px 20px;
      overflow: hidden;
      white-space: nowrap;
    }

    .subscribe-btn svg {
      display: block;
    }

}

@media only screen and (max-width: 575px) {

  .navbar .offset-2 {
    padding-right: 8px;
  }

  .navbar-btn-link {
    gap: 0;
  }

  .silver-bg.bonus-wrap {
    margin-bottom: 5px;
  }

  .silver-tickets .container > .row > div {
    margin-bottom: 8px;
  }

  .text-help-page h2, 
  .text-help-page ul {
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .pre-footer {
    display: block;
    margin-top: 100px;
  }

  .footer .qr-with-stores .d-flex .stores-wrap {
    display: none;
  }

  .qr-with-stores .d-flex .stores-wrap {
    justify-content: space-between;
    width: 100%;
  }

  .footer {
    margin-top: 0;
  }

}

@media only screen and (max-width: 540px) {

  .main p {
    line-height: 1.5;
  }

  .navbar {
    padding: 2px 0;
  }
  .catalog-btn {
    padding: 2px 20px 5px 0;
  }

  .btn-search {
    padding-right: 0;
  }

  .silver-tickets .contacts-mob-txt p.h3 {
    max-width: 225px;
  }

  .silver-block-btn {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    text-align: center;
  }

}
@media only screen and (min-width: 768px) and (max-width: 991px) {

  .personal-area img {
    padding: 4px 6px;
  }

  .navbar-btns .navbar-btn:not(:last-child) {
    margin-right: 14px;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1060px) {

  .catalog-btn {
    margin-left: 10px;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

  .silver-bg.bonus-wrap,
  .silver-bg.guarantees-wrap {
   /* width: 50%; 
    min-height:   188px;*/
  }

  .silver-bg.guarantees-wrap {
    /* margin-left:   15px;*/
  }


}

@media only screen and (min-width: 1199px) and (max-width: 1280px) {

  .search-form-wrap .search {
    /* width: 47%; */
  }

  .btn-search {
    /* z-index: 0; */
  }

}

@media only screen and (min-width: 1280px) and (max-width: 1367px) {
  
  .top-menu-list.top-contacts li:first-child {
    margin-right: 15px;
  }

  .top-menu .menu-phone,
  .catalog-btn {
    font-size: 12px;
  }

}


@media only screen and (min-width: 1280px) {

  .header .container.top-menu {

  }

}

@media only screen and (min-width: 1920px) {

  .catalog-btn {
    margin-right: 0;
  }

  .silver-bg {
    padding: 33px 36px;
  }

  .silver-bg h2 {
    font-size: 22px;
  }

  .happy-to-help-wrap .silver-block-img img {
    max-width: 260px;
  }

  .payment-wrap .silver-block-img img {
    max-width: 233px;
  }

}

