@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    -moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    padding-left: 0;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

.container {
    max-width: 1674px;
}

.header {

}

.header .top-menu {
    background: #000;
    padding: 6px 0 6px 0;
}

.header ul {
    display: flex;
    align-items: center;
}

.header .container-fluid.top-menu .row,
.header .container .row {
    margin: 0;
}

.top-contacts-wrap,
.top-menu-list-wrap {
    padding: 0;
}

.top-contacts-wrap {

}

.top-menu-list-wrap > div {
    justify-content: flex-end;
}

.top-menu-list.top-contacts {
    height: 100%;
}

.top-menu-list {
    align-items: center;
}

.top-menu-list li {
    margin-right: 19px;
}

.top-menu-list.top-contacts li:first-child {
    margin-right: 27px;
}

.navbar {
    display: flex;
    width: 100%;
}

.top-menu {

}

.top-menu-list li a,
.top-menu .menu-link,
.personal-area a,
.navbar-btn a {
    font-size: 12px;
    color: #BDBDBD;
}

.top-menu .menu-phone,
.navigation .catalog a {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    white-space: nowrap;
}

.top-menu-list .top-btns-item a {
    background: #333333;
    padding: 5px 20px;
    border-radius: 7px;
    color: #ffffff;
    white-space: nowrap;
}


.top-menu-list .top-btns-item {
    margin-right: 8px;
}

.top-menu-list.top-menu li {
    margin-right: 12px;
    white-space: nowrap;
}

.top-menu-list.top-menu li:last-child {
    margin-right: 0;
}

.navbar {
    padding: 10px 0;
    color: #333333;
}

.navbar-btns {
    display: flex;
    justify-content: flex-end;
}

.navbar-btns .navbar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar-btn-img {
    min-height: 27px;
}

.navbar-btns .navbar-btn:not(:last-child) {
    margin-right: 19px;
}

.personal-area {
    display: flex;
    align-items: center;
    background: #F2F3F5;
    border-radius: 20px;
    padding-right: 25px;
    margin-right: 25px;
}

.personal-area img {
    padding: 5px 8px;
}

.personal-area a,
.navbar-btn a {
    display: inline-block;
    color: #333333;
    text-decoration: none;
}

.search-form {
    display: flex;
    align-items: center;
    background: #E0E0E0;
    border-radius: 9px;
    background: #E0E0E0; 
/*    border-right: 2px solid #E0E0E0;*/
}

.search-form .form-control {
    height: 38px;
    z-index: 1;
    border-radius: 9px;
    padding-left: 30px;
    border-right: 3px solid #E0E0E0;
    border-left: 3px solid #E0E0E0;
    min-width: 100%;
}

.form-control::placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #828282;
}

.btn-search {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E0E0E0;
    padding: 12px 30px 12px 34px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    cursor: pointer;]
    z-index: -2;
    margin-left: -6px;
}






.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation .catalog {
    background: #000000;
    padding: 10px 35px;
    border-radius: 10px;
    margin-right: 14px;
}

.navigation .catalog a {
    text-decoration: none;
}

.category ul li {
    margin-right: 26px;
}

.category .brands-and-sales li:last-child {
    margin-right: 0;
}

.category ul li a {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}

.navigation .search {
    width: 60%;
}

.brands-and-sales {
    justify-content: flex-end;
}

.silver-tickets h1 {
    margin-top: 26px;
    margin-bottom: 45px;
}

.silver-tickets .container > .row > div {
    margin-bottom: 15px;
}

.silver-bg h2 {
    font-size: 23px;
    margin-bottom: 10px;
}

.silver-bg {
    background: linear-gradient(90deg, #E2E6EB 19.77%, #F3F1F5 62.29%);
    border-radius: 20px;
    padding: 30px 26px 26px 26px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.silver-bg.bonus-wrap {
    background: linear-gradient(90deg, #FF8C00 0%, #FFBD00 77.38%);
    color: #ffffff;
    margin-bottom: 15px;
}


.silver-bg.return-wrap,
.silver-bg.delivery-wrap {
    flex-direction: row;
    justify-content: space-between;
}

.silver-bg.return-wrap .silver-block-img,
.silver-bg.delivery-wrap .silver-block-img {
    position: static;
}

.silver-bg.bonus-wrap ul {
    padding-left: 20px;
}

.silver-bg.bonus-wrap ul li {
    list-style: disc;
    margin-bottom: 3px;
}

.silver-bg.guarantees-wrap a {
    color: #;
}

.silver-bg p {
    padding-bottom: 15px;
    line-height: 1.85;
    color: #333333;
    font-size: 14px;
}

.silver-bg.happy-to-help-wrap p,
.silver-bg.delivery-wrap p {
    color: #000000;
}

.happy-to-help-wrap {

}

.happy-to-help {
    padding-bottom: 20px;
}

.payment-wrap {

}

.payment {

}

.payment ul li {
    margin-block: 20px;
}

.payment ul li a {
    font-size: 14px;
    color: #333333;
    font-weight: 600;
    text-decoration: underline;
}
.silver-bg .silver-block-img {
    position: absolute;
    top: -30px;
}

.happy-to-help-wrap .silver-block-img img {
    max-width: 215px;
}

.payment-wrap .silver-block-img img {
    max-width: 188px;
}

.payment-wrap .silver-block-img {
    right: 0;
}

.happy-to-help-wrap .silver-block-img {
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 5%);
}

.silver-bg.bonus-wrap .silver-block-img {
    top: -22px;
    right: 30px;
}

.bonus-wrap .silver-block-img {
    
}

.bonus-txt ul li {
    font-size: 14px;
    font-weight: 600;
}

.guarantees-wrap .silver-block-img {

}

.guarantees-txt-with-btn p a {
    color: #333333;
    text-decoration: none;
}

.guarantees {

}

.guarantees-txt-with-btn {
    display: flex;  
    justify-content: space-between;
}

.ticket-btn-wrap {
    padding-top: 20px;
}

.silver-block-btn {
    background: #0C1111;
    color: #ffffff;
    border-radius: 10px;
    padding: 15px 35px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

@media only screen and (min-width: 1280px) {
    .header .container {
        padding: 0;
    }
}